div {
    display: inline-block;
}
.site-content {
    width: 200px;

}
.green {

    background-color: green;
   
}
.blue {
    background-color: blue;
  
}
.red {
    background-color: red;
}
.orange {
    background-color: orange;
}
.purple {
    background-color: purple;
}